<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="MyLevel" value="Info" />
	<variable name="isDebug" value="false" />
	<variable name="MyLayout" value ="${longdate}_${level:uppercase=true}_${callsite-filename:includeSourcePath=false} ${callsite-linenumber}_${threadid} - ${message} ${exception:format=tostring}"/>
	
	<targets>
		<target name="logfile" xsi:type="File" fileName="C:\Temp\file.txt" layout="${var:MyLayout}" />
		<target name="logconsole" xsi:type="ColoredConsole" layout="${var:MyLayout}" useDefaultRowHighlightingRules="true">
			<highlight-row condition="starts-with('${message}','Disconnect')" foregroundColor="Blue"/>
			<highlight-row condition="starts-with('${message}','Connect')" foregroundColor="Red"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="${var:MyLevel}" writeTo="logfile"  enabled="true"/>
		<logger name="*" minlevel="Trace" writeTo="logconsole" enabled="${var:isDebug}"/>
	</rules>
</nlog>