<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Key0" value="0" />
    <add key="Key1" value="1" />
    <add key="Key2" value="2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.UserSecrets" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Database.Properties.Settings>
      <setting name="scanConnectTimer_Interval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="AuditTrail_TableName" serializeAs="String">
        <value>audit_trail</value>
      </setting>
      <setting name="AuditTrail_ColIds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>id</string>
            <string>date_time</string>
            <string>username</string>
            <string>event_type</string>
            <string>description</string>
            <string>value_before</string>
            <string>value_after</string>
            <string>comment</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Recipe_TableName" serializeAs="String">
        <value>recipe</value>
      </setting>
      <setting name="Recipe_ColIds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>id</string>
            <string>first_seq_type</string>
            <string>first_seq_id</string>
            <string>name</string>
            <string>version</string>
            <string>status</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AuditTrail_ColN_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AuditTrail_ColN_dateTime" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AuditTrail_ColN_username" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="AuditTrail_ColN_eventType" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AuditTrail_ColN_description" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="AuditTrail_ColN_valueBefore" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AuditTrail_ColN_valueAfter" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="AuditTrail_ColN_comment" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Recipe_ColN_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Recipe_ColN_nextSeqType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Recipe_ColN_nextSeqId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Recipe_ColN_recipeName" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Recipe_ColN_version" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Recipe_ColN_status" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RecipeWeight_TableName" serializeAs="String">
        <value>recipe_weight</value>
      </setting>
      <setting name="RecipeWeight_ColIds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>id</string>
            <string>next_seq_type</string>
            <string>next_seq_id</string>
            <string>name</string>
            <string>is_barcode_used</string>
            <string>barcode</string>
            <string>unit</string>
            <string>decimal_number</string>
            <string>setpoint</string>
            <string>criteria</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="RecipeWeight_ColN_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RecipeWeight_ColN_nextSeqType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RecipeWeight_ColN_nextSeqId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RecipeWeight_ColN_seqName" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RecipeWeight_ColN_isBarcodeUsed" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="RecipeWeight_ColN_barcode" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RecipeWeight_ColN_unit" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="RecipeWeight_ColN_decimalNumber" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="RecipeWeight_ColN_setpoint" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="RecipeWeight_ColN_criteria" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="RecipeWeight_ColN_max" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RecipeSpeedMixer_TableName" serializeAs="String">
        <value>recipe_speedmixer</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColIds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>id</string>
            <string>next_seq_type</string>
            <string>next_seq_id</string>
            <string>name</string>
            <string>acceleration</string>
            <string>deceleration</string>
            <string>vaccum_control</string>
            <string>is_ventgas_air</string>
            <string>monitor_type</string>
            <string>pressure_unit</string>
            <string>scurve</string>
            <string>coldtrap</string>
            <string>speed00</string>
            <string>time00</string>
            <string>pressure00</string>
            <string>speed01</string>
            <string>time01</string>
            <string>pressure01</string>
            <string>speed02</string>
            <string>time02</string>
            <string>pressure02</string>
            <string>speed03</string>
            <string>time03</string>
            <string>pressure03</string>
            <string>speed04</string>
            <string>time04</string>
            <string>pressure04</string>
            <string>speed05</string>
            <string>time05</string>
            <string>pressure05</string>
            <string>speed06</string>
            <string>time06</string>
            <string>pressure06</string>
            <string>speed07</string>
            <string>time07</string>
            <string>pressure07</string>
            <string>speed08</string>
            <string>time08</string>
            <string>pressure08</string>
            <string>speed09</string>
            <string>time09</string>
            <string>pressure09</string>
            <string>speed_min</string>
            <string>speed_max</string>
            <string>pressure_min</string>
            <string>pressure_max</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_nextSeqType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_nextSeqId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_seqName" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_acceleration" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_deceleration" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_vaccumControl" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_isVentgasAir" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_monitorType" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_pressureUnit" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_scurve" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_coldtrap" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_speed00" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_time00" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_pressure00" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_speedMin" serializeAs="String">
        <value>42</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_speedMax" serializeAs="String">
        <value>43</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_pressureMin" serializeAs="String">
        <value>44</value>
      </setting>
      <setting name="RecipeSpeedMixer_ColN_pressureMax" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="RecipeWeight_seqType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RecipeSpeedMixer_seqType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Cycle_TableName" serializeAs="String">
        <value>cycle</value>
      </setting>
      <setting name="Cycle_ColIds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>id</string>
            <string>next_seq_type</string>
            <string>next_seq_id</string>
            <string>job_number</string>
            <string>batch_number</string>
            <string>quantity_value</string>
            <string>quantity_unit</string>
            <string>item_number</string>
            <string>recipe_name</string>
            <string>recipe_version</string>
            <string>equipment_name</string>
            <string>date_time_start_cycle</string>
            <string>date_time_end_cycle</string>
            <string>username</string>
            <string>first_alarm_id</string>
            <string>last_alarm_id</string>
            <string>comment</string>
            <string>is_it_a_test</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Cycle_ColN_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Cycle_ColN_nextSeqType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Cycle_ColN_nextSeqId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Cycle_ColN_jobNumber" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Cycle_ColN_batchNumber" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Cycle_ColN_quantityValue" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Cycle_ColN_quantityUnit" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="Cycle_ColN_itemNumber" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Cycle_ColN_recipeName" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Cycle_ColN_recipeVersion" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="Cycle_ColN_equipmentName" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Cycle_ColN_dateTimeStartCycle" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="Cycle_ColN_dateTimeEndCycle" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="Cycle_ColN_username" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="Cycle_ColN_firstAlarmId" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="Cycle_ColN_lastAlarmId" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Cycle_ColN_comment" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="Cycle_ColN_isItATest" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="CycleWeight_TableName" serializeAs="String">
        <value>cycle_weight</value>
      </setting>
      <setting name="CycleWeight_ColIds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>id</string>
            <string>next_seq_type</string>
            <string>next_seq_id</string>
            <string>product</string>
            <string>was_weight_manual</string>
            <string>date_time</string>
            <string>actual_value</string>
            <string>setpoint</string>
            <string>minimum</string>
            <string>maximum</string>
            <string>unit</string>
            <string>decimal_number</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CycleWeight_ColN_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CycleWeight_ColN_nextSeqType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CycleWeight_ColN_nextSeqId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CycleWeight_ColN_product" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CycleWeight_ColN_wasWeightManual" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="CycleWeight_ColN_dateTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CycleWeight_ColN_actualValue" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="CycleWeight_ColN_setpoint" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="CycleWeight_ColN_min" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="CycleWeight_ColN_max" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="CycleWeight_ColN_unit" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CycleWeight_ColN_decimalNumber" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="CycleWeight_seqType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CycleSpeedMixer_seqType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CycleSpeedMixer_TableName" serializeAs="String">
        <value>cycle_speedmixer</value>
      </setting>
      <setting name="CycleSpeedMixer_ColIds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>id</string>
            <string>next_seq_type</string>
            <string>next_seq_id</string>
            <string>name</string>
            <string>date_time_start</string>
            <string>date_time_end</string>
            <string>time_mix_th</string>
            <string>time_mix_eff</string>
            <string>pressure_unit</string>
            <string>speed_min</string>
            <string>speed_max</string>
            <string>pressure_min</string>
            <string>pressure_max</string>
            <string>speed_mean</string>
            <string>pressure_mean</string>
            <string>speed_std</string>
            <string>pressure_std</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_nextSeqType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_nextSeqId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_dateTimeStart" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_dateTimeEnd" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_timeMixTh" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_timeMixEff" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_pressureUnit" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_speedMin" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_speedMax" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_pressureMin" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_pressureMax" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_speedMean" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_pressureMean" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_speedStd" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_pressureStd" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="Info01" serializeAs="String">
        <value>Tentative de reconnexion. Statut: </value>
      </setting>
      <setting name="Error_connectToDbFailed" serializeAs="String">
        <value>Connection à la base de données échouée</value>
      </setting>
      <setting name="Error02" serializeAs="String">
        <value>Création de la commande incorrecte</value>
      </setting>
      <setting name="Error03" serializeAs="String">
        <value>Non, ce n'est pas vrai. Non non NON !</value>
      </setting>
      <setting name="Error04" serializeAs="String">
        <value>Le reader n'est pas disponible</value>
      </setting>
      <setting name="Error05" serializeAs="String">
        <value>La commande renvoie plus d'une ligne</value>
      </setting>
      <setting name="Error06" serializeAs="String">
        <value>Le nombre de colonnes est différent du nombre de valeurs</value>
      </setting>
      <setting name="Error07" serializeAs="String">
        <value>La variable tableInfo est null</value>
      </setting>
      <setting name="Error08" serializeAs="String">
        <value>Il n'y a pas de colonne</value>
      </setting>
      <setting name="Error09" serializeAs="String">
        <value>Aucune valeur n'a été renseignée</value>
      </setting>
      <setting name="Error10" serializeAs="String">
        <value>Il y a plus d'index que de colonnes</value>
      </setting>
      <setting name="Error11" serializeAs="String">
        <value>C'est pas bon ça, regarde le log</value>
      </setting>
      <setting name="Error12" serializeAs="String">
        <value>La classe n'est pas initialisée</value>
      </setting>
      <setting name="Temp_TableName" serializeAs="String">
        <value>temp</value>
      </setting>
      <setting name="Error13" serializeAs="String">
        <value>Numéro de ligne manquant</value>
      </setting>
      <setting name="Error14" serializeAs="String">
        <value>Nombre de colonnes incorrect</value>
      </setting>
      <setting name="Error15" serializeAs="String">
        <value>Le tableau contient au moins 2 lignes avec le même id</value>
      </setting>
      <setting name="RecipeSpeedMixer_PressureUnit_mBar" serializeAs="String">
        <value>mBar</value>
      </setting>
      <setting name="RecipeSpeedMixer_PressureUnit_inHg" serializeAs="String">
        <value>inHg</value>
      </setting>
      <setting name="RecipeSpeedMixer_PressureUnit_PSIA" serializeAs="String">
        <value>PSIA</value>
      </setting>
      <setting name="General_TrueValue_Read" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_FalseValue_Read" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccessTable_ColIds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>id</string>
            <string>role</string>
            <string>cycle_start</string>
            <string>recipe_create</string>
            <string>application_stop</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AccessTable_TableName" serializeAs="String">
        <value>access_table</value>
      </setting>
      <setting name="AccessTable_ColN_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AccessTable_ColN_role" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AccessTable_ColN_cycleStart" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="AccessTable_ColN_recipeCreate" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AccessTable_ColN_applicationStop" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="AccessTable_Role_operator" serializeAs="String">
        <value>operator</value>
      </setting>
      <setting name="AccessTable_Role_supervisor" serializeAs="String">
        <value>supervisor</value>
      </setting>
      <setting name="AccessTable_Role_administrator" serializeAs="String">
        <value>administrator</value>
      </setting>
      <setting name="AccessTable_Role_none" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="CycleWeight_ColDesc" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>Produit</string>
            <string>0</string>
            <string>Date et heure de pesée</string>
            <string>Valeur pesée</string>
            <string>Valeur nominal</string>
            <string>Minimum</string>
            <string>Maximum</string>
            <string>0</string>
            <string>0</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CycleSpeedMixer_ColN_mixName" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CycleSpeedMixer_ColDesc" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>Nom du mélange</string>
            <string>Début séquence</string>
            <string>Fin séquence</string>
            <string>Durée Mix théorique</string>
            <string>Durée Mix effective</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Error16" serializeAs="String">
        <value>Arguments manquants</value>
      </setting>
      <setting name="Error17" serializeAs="String">
        <value>La commande ne renvoie rien</value>
      </setting>
      <setting name="Temp_ColIds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>speed</string>
            <string>pressure</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Temp_ColN_speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Temp_ColN_pressure" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TempResult_ColN" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="TempResult_ColN_speedMean" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TempResult_ColN_pressureMean" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TempResult_ColN_speedStd" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TempResult_ColN_pressureStd" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="General_TrueValue_Write" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="General_FalseValue_Write" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AuditTrail_ColDesc" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>ID</string>
            <string>Date et heure</string>
            <string>Utilisateur</string>
            <string>Type d'évènement</string>
            <string>Description</string>
            <string>Valeur avant</string>
            <string>Valeur après</string>
            <string>Commentaire</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DBAppFolder" serializeAs="String">
        <value>C:\Program Files\MariaDB 10.9\bin</value>
      </setting>
      <setting name="Recipe_ColDesc" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>recette</string>
            <string>version</string>
            <string>0</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MaxNumbRows" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="Error_NumbRowsIncorrect" serializeAs="String">
        <value>Nombre de lignes demandées incorrect</value>
      </setting>
      <setting name="Error_IDidntReadItAll" serializeAs="String">
        <value>Je n'ai pas réussi à tout lire, il y a en trop</value>
      </setting>
      <setting name="Error_ReadAudit_ArgIncorrect" serializeAs="String">
        <value>Date et temps avant ou après incorrect</value>
      </setting>
      <setting name="RecipeWeight_mgG_Unit" serializeAs="String">
        <value>mg/g</value>
      </setting>
      <setting name="RecipeWeight_gG_Unit" serializeAs="String">
        <value>g/g</value>
      </setting>
      <setting name="ICycleSeqInfo_Error_RecipeIncorrect" serializeAs="String">
        <value>Type de la recette utilisé incorrect</value>
      </setting>
      <setting name="Error_FromHere" serializeAs="String">
        <value>Elle vient d'ici l'erreur</value>
      </setting>
      <setting name="ICycleSeqInfo_Error_convRatioIncorrect" serializeAs="String">
        <value>Unités de pesée incorrectes</value>
      </setting>
      <setting name="QueueEmptyTimer_Interval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="IsQueueAvailableTimer_Interval" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="QueueEmptyCount_Max" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TaskDeQueue_Wait" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Disconnect_WaitTime" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ConnectionInfo" serializeAs="Xml">
        <value>
          <ConnectionInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <Server>localhost</Server>
            <UserID>root</UserID>
            <Password>Integra2022/</Password>
            <Db>db1</Db>
          </ConnectionInfo>
        </value>
      </setting>
    </Database.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Database.Properties.Settings>
      <setting name="RecipeSpeedMixer_PressureUnit_Torr" serializeAs="String">
        <value>Torr</value>
      </setting>
    </Database.Properties.Settings>
  </applicationSettings>
</configuration>