<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Alarm_Management.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.UserSecrets" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Alarm_Management.Properties.Settings>
      <setting name="AlarmType_Alarm" serializeAs="String">
        <value>Alarme</value>
      </setting>
      <setting name="AlarmType_Warning" serializeAs="String">
        <value>Alerte</value>
      </setting>
      <setting name="AlarmType_None" serializeAs="String">
        <value />
      </setting>
      <setting name="Error01" serializeAs="String">
        <value>La classe n'est pas initialisée</value>
      </setting>
      <setting name="Error02" serializeAs="String">
        <value>L'alarme est déjà active</value>
      </setting>
      <setting name="Error03" serializeAs="String">
        <value>L'alarme est inactive mais ne fait pas parti des alarmes actives</value>
      </setting>
      <setting name="Error04" serializeAs="String">
        <value>L'alarme ne fait pas parti des alarmes actives</value>
      </setting>
      <setting name="Error05" serializeAs="String">
        <value>L'alarme est déjà inactive</value>
      </setting>
      <setting name="Error06" serializeAs="String">
        <value>Statut de l'alarme avant inactivation ou aquittement incorrect</value>
      </setting>
      <setting name="Error07" serializeAs="String">
        <value>Type d'alarme incorrect</value>
      </setting>
      <setting name="Error08" serializeAs="String">
        <value>Je ne te crois pas, c'est impossible</value>
      </setting>
      <setting name="Alarms" serializeAs="Xml">
        <value>
          <ConfigAlarms xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <configAlarms>
              <ConfigAlarm>
                <id1>0</id1>
                <id2>0</id2>
                <description>Connexion à la balance échouée</description>
                <type>Alarm</type>
              </ConfigAlarm>
              <ConfigAlarm>
                <id1>1</id1>
                <id2>0</id2>
                <description>Connexion au SpeedMixer échouée</description>
                <type>Alarm</type>
              </ConfigAlarm>
              <ConfigAlarm>
                <id1>1</id1>
                <id2>1</id2>
                <description>Erreur du speedmixer pendant un cycle</description>
                <type>Alarm</type>
              </ConfigAlarm>
              <ConfigAlarm>
                <id1>2</id1>
                <id2>0</id2>
                <description>Connexion à la pompe à vide échouée</description>
                <type>Alarm</type>
              </ConfigAlarm>
              <ConfigAlarm>
                <id1>3</id1>
                <id2>0</id2>
                <description>Connexion au piège froid échouée</description>
                <type>Alarm</type>
              </ConfigAlarm>
              <ConfigAlarm>
                <id1>3</id1>
                <id2>1</id2>
                <description>Température trop haute pendant le cycle</description>
                <type>Alarm</type>
              </ConfigAlarm>
              <ConfigAlarm>
                <id1>4</id1>
                <id2>0</id2>
                <description>Backup automatique complet de la base de données échoué aprés 3 tentatives</description>
                <type>Warning</type>
              </ConfigAlarm>
            </configAlarms>
          </ConfigAlarms>
        </value>
      </setting>
    </Alarm_Management.Properties.Settings>
  </applicationSettings>
</configuration>