<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Driver_MODBUS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Driver_MODBUS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.UserSecrets" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Driver_MODBUS.Properties.Settings>
      <setting name="ScanAlarmTimer_Interval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Alarm_Connection_id1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Alarm_Connection_id2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Register_Instruction" serializeAs="String">
        <value>3053</value>
      </setting>
      <setting name="Register_MixName" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="Register_Acceleration" serializeAs="String">
        <value>3043</value>
      </setting>
      <setting name="Register_Deceleration" serializeAs="String">
        <value>3044</value>
      </setting>
      <setting name="Register_VacuumInUse" serializeAs="String">
        <value>3046</value>
      </setting>
      <setting name="Register_VacuumScale" serializeAs="String">
        <value>3050</value>
      </setting>
      <setting name="Register_ProgramId" serializeAs="String">
        <value>3056</value>
      </setting>
      <setting name="Register_Speed01" serializeAs="String">
        <value>3013</value>
      </setting>
      <setting name="Register_Time01" serializeAs="String">
        <value>3023</value>
      </setting>
      <setting name="Register_Pressure01" serializeAs="String">
        <value>3033</value>
      </setting>
      <setting name="Error01" serializeAs="String">
        <value>Problème de connection avec le SpeedMixer</value>
      </setting>
      <setting name="Instruction_Reset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VacuumInUse_Yes" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="VacuumInUse_No" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VacuumScale_Torr" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="VacuumScale_mBar" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="VacuumScale_inHg" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="VacuumScale_PSIA" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="VacuumScale_Error" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Error02" serializeAs="String">
        <value>Unité de pression incorrecte</value>
      </setting>
      <setting name="ProgramId_ToUse" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Instruction_SetDefinedMixProgram" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Pressure_Multiplicator" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Instruction_RunDefinedMixProgram" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Instruction_Stop_Active_Mix" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Instruction_ResetError" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Register_MixerStatus" serializeAs="String">
        <value>3100</value>
      </setting>
      <setting name="Register_MixerPressure" serializeAs="String">
        <value>382</value>
      </setting>
      <setting name="Register_MixerSpeed" serializeAs="String">
        <value>3101</value>
      </setting>
      <setting name="MixerStatusId_ReadyToRun" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MixerStatusId_MixerRunning" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MixerStatusId_MixerError" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MixerStatusId_LidOpen" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MixerStatusId_LidClosed" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MixerStatusId_SafetyOK" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MixerStatusId_RobotAtHome" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ConnectionInfo" serializeAs="Xml">
        <value>
          <ConnectionInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ipAddress>10.10.1.2</ipAddress>
            <port>503</port>
          </ConnectionInfo>
        </value>
      </setting>
    </Driver_MODBUS.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Driver_MODBUS.Properties.Settings>
      <setting name="ScanAlarmTimer_Interval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Alarm_Connection_id1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Alarm_Connection_id2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Register_Instruction" serializeAs="String">
        <value>3053</value>
      </setting>
      <setting name="Register_MixName" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="Register_Acceleration" serializeAs="String">
        <value>3043</value>
      </setting>
      <setting name="Register_Deceleration" serializeAs="String">
        <value>3044</value>
      </setting>
      <setting name="Register_VacuumInUse" serializeAs="String">
        <value>3046</value>
      </setting>
      <setting name="Register_VacuumScale" serializeAs="String">
        <value>3050</value>
      </setting>
      <setting name="Register_ProgramId" serializeAs="String">
        <value>3056</value>
      </setting>
      <setting name="Register_Speed01" serializeAs="String">
        <value>3013</value>
      </setting>
      <setting name="Register_Time01" serializeAs="String">
        <value>3023</value>
      </setting>
      <setting name="Register_Pressure01" serializeAs="String">
        <value>3033</value>
      </setting>
      <setting name="Error01" serializeAs="String">
        <value>Problème de connection avec le SpeedMixer</value>
      </setting>
      <setting name="Instruction_Reset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VacuumInUse_Yes" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="VacuumInUse_No" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VacuumScale_Torr" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="VacuumScale_mBar" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="VacuumScale_inHg" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="VacuumScale_PSIA" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="VacuumScale_Error" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Error02" serializeAs="String">
        <value>Unité de pression incorrecte</value>
      </setting>
      <setting name="ProgramId_ToUse" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Instruction_SetDefinedMixProgram" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Pressure_Multiplicator" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Instruction_RunDefinedMixProgram" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Instruction_Stop_Active_Mix" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Instruction_ResetError" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Register_MixerStatus" serializeAs="String">
        <value>3100</value>
      </setting>
      <setting name="Register_MixerPressure" serializeAs="String">
        <value>382</value>
      </setting>
      <setting name="Register_MixerSpeed" serializeAs="String">
        <value>3101</value>
      </setting>
      <setting name="MixerStatusId_ReadyToRun" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MixerStatusId_MixerRunning" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MixerStatusId_MixerError" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MixerStatusId_LidOpen" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MixerStatusId_LidClosed" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MixerStatusId_SafetyOK" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MixerStatusId_RobotAtHome" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ConnectionInfo" serializeAs="Xml">
        <value>
          <ConnectionInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ipAddress>10.10.1.2</ipAddress>
            <port>503</port>
          </ConnectionInfo>
        </value>
      </setting>
    </Driver_MODBUS.Properties.Settings>
  </applicationSettings>
</configuration>