<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<configSections>
		<sectionGroup name="Group1">
			<section name="Section1" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>

		<section name="MODBUS_Connection_Info" type="System.Configuration.NameValueSectionHandler" />

		<section name="DB_Connection_Info" type="Database.Configuration.DB_Connection_Info, Database"/>

	</configSections>

	<startup>
	    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

	<Group1>
		<Section1>
			<add key="key1" value="value156" />
			<add key="key2" value="value2"></add>
		</Section1>
	</Group1>

	<MODBUS_Connection_Info>
		<add key="IP_address" value="10.10.1.2" />
		<add key="port" value="503" />
	</MODBUS_Connection_Info>

	<DB_Connection_Info>
		<DB_Settings Server="localhost" UserID="root" Password="Integra2022/" Database="db1" ></DB_Settings>
	</DB_Connection_Info>
	
</configuration>