<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="MODBUS_Connection_Info" type="System.Configuration.NameValueSectionHandler" />
		
		<sectionGroup name="Database">
			<section name="Connection_Info" type="Database.Configuration.Connection_Info, Database"/>
			<section name="Connection_Attempt" type="System.Configuration.NameValueSectionHandler" />
			<section name="Audit_Trail" type="System.Configuration.NameValueSectionHandler" />
			<section name="Recipe" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>

	<startup>
	    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

	<MODBUS_Connection_Info>
		<add key="IP_address" value="10.10.1.2" />
		<add key="port" value="503" />
	</MODBUS_Connection_Info>

	<Database>
		<Connection_Info>
			<DB_Settings Server="localhost" UserID="root" Password="Integra2022/" Database="db1" ></DB_Settings>
		</Connection_Info>
		<Connection_Attempt>
			<add key="Max" value="3" />
		</Connection_Attempt>
		<Audit_Trail>
			<add key="Table_Name" value="audit_trail" />
			<add key="Columns" value="ID,Date et heure,Utilisateur,Description,Valeur avant,Valeur après,Commentaire" />
			<add key="Insert_UserDesc" value="c02, c03" />
			<add key="Insert_ValModif" value=", c04, c05" />
			<add key="Insert_Comment" value=", c06" />
		</Audit_Trail>
		<Recipe>
			<add key="Table_Name" value="recipe" />
			<add key="Where_Columns" value="name,version" />
			<add key="Status" value="Draft,Production,Obsolète" />
			<add key="SubRecipes_Table_Name" value="recipe_weight,recipe_speedmixer" />
			<add key="SubRecipes_n_Columns" value="11,42" />
			<add key="SubRecipes_Where_Columns" value="id" />
			<add key="SubRecipeWeight_SeqType" value="0" />
			<add key="SubRecipeSpeedMixer_SeqType" value="1" />
		</Recipe>
	</Database>
</configuration>