<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="MODBUS_Connection_Info" type="System.Configuration.NameValueSectionHandler" />
		
		<sectionGroup name="Database">
			<section name="Connection_Info" type="Database.Configuration_old.Connection_Info, Database" />
			<section name="Connection_Attempt" type="System.Configuration.NameValueSectionHandler" />
			<section name="Audit_Trail" type="System.Configuration.NameValueSectionHandler" />
			<section name="Recipe" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
		
		<sectionGroup name="Alarm_Info">
			<section name="List" type="Alarm_Management.Configuration_old.List, Alarm_Management" />
		</sectionGroup>
	</configSections>

	<startup>
	    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Configuration.UserSecrets" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

	<MODBUS_Connection_Info>
		<add key="IP_address" value="10.10.1.2" />
		<add key="port" value="503" />
	</MODBUS_Connection_Info>

	<Database>
		<Connection_Info>
			<DB_Settings Server="localhost" UserID="root" Password="Integra2022/" Database="db1"></DB_Settings>
		</Connection_Info>
		<Connection_Attempt>
			<add key="Max" value="3" />
		</Connection_Attempt>
		<Audit_Trail>
			<add key="Table_Name" value="audit_trail" />
			<add key="Columns" value="ID,Date et heure,Utilisateur,Type d'évènement,Description,Valeur avant,Valeur après,Commentaire" />
			<add key="Insert_UserDesc" value="username, event_type, description" />
			<add key="Insert_ValModif" value=", value_before, value_after" />
			<add key="Insert_Comment" value=", comment" />
		</Audit_Trail>
		<Recipe>
			<add key="Table_Name" value="recipe" />
			<add key="Where_Columns" value="name,version" />
			<add key="Status" value="Draft,Production,Obsolète" />
			<add key="SubRecipes_Table_Name" value="recipe_weight,recipe_speedmixer" />
			<add key="SubRecipes_n_Columns" value="11,46" />
			<add key="Column_id" value="id" />
			<add key="Column_Recipe_name" value="name" />
			<add key="Column_Recipe_version" value="version" />
			<add key="Columns_Recipe" value="first_seq_type, first_seq_id, name, version, status" />
			<add key="Columns_SubRecipe_Weight" value="next_seq_type, next_seq_id, name, is_barcode_used, barcode, unit, decimal_number, setpoint, min, max" />
			<add key="Columns_SubRecipe_SpeedMixer" value="next_seq_type, next_seq_id, name, acceleration, deceleration, vaccum_control, is_ventgas_air, monitor_type, pressure_unit, scurve, coldtrap, speed00, time00, pressure00, speed01, time01, pressure01, speed02, time02, pressure02, speed03, time03, pressure03, speed04, time04, pressure04, speed05, time05, pressure05, speed06, time06, pressure06, speed07, time07, pressure07, speed08, time08, pressure08, speed09, time09, pressure09, speed_min, speed_max, pressure_min, pressure_max" />
			<add key="SubRecipeWeight_SeqType" value="0" />
			<add key="SubRecipeSpeedMixer_SeqType" value="1" />
			<add key="Recipe_Status_Draft" value="0" />
			<add key="Recipe_Status_Production" value="1" />
			<add key="Recipe_Status_Obsolete" value="2" />
		</Recipe>
	</Database>
	<Alarm_Info>
		<List>
			<Alarm ID_List="1" UserID="root"></Alarm>
		</List>
	</Alarm_Info>
	
	
</configuration>